@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap');

body, html {
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    height: 100%;
    margin: 0;
    background: rgba(0,0,0,1);
    color: #868686;
}
h1 {
    font-size: 2.3rem;
    color: #efefef;
}

.main {
    height: 100%;
    background-image: url('../images/bg2.webp');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #141414;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main .content {
    text-align: center;
}

.rrss {
    display: flex;
    justify-content: space-between;
}
.rrss .item {
    color: #f2f2f2;
    text-decoration: none;
}
.rrss .item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.latestBlog {
    text-align: left;
    margin-top: 35px;
    color: #efefef;
}

.latestBlog a {
    color: #efefef;
    text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
    .main {
        background-size: cover;
        background-position: 50% top;
    }
}
